body {
    background: #DFE9FF;
    font-family: Georgia, Arial, sans-serif;
    line-height: 1.4;
    margin: 10px auto;
    width: 960px;
}
.centre {
    text-align: center;
}
.desc {
    font-size: 120%;
    font-weight: normal;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.controls {
    padding: 10px;
}

/*** Copied from AUI: https://bitbucket.org/atlassian/aui-archive/ ***/

button {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* IE10+ */
    background: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Opera 11.10+ */
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%, #f2f2f2 100%); /* W3C */
    border: 1px solid #ccc;
    border-radius: 3.01px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    height: 2.1428571428571em; /* 30px - using ems so the fields increase in line with user specified font-sizes */
    line-height: 1.4285714285714;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: baseline;
    white-space: nowrap;
}
button ~ button {
    margin-left: 10px;
}

/* Control button height in Firefox. See http://www.experimentgarden.com/2010/11/firefox-buttontext-height-and-padding.html */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:focus,
button:hover {
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #fff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#f7f7f7 100%); /* W3C */
    border-color: #999;
    color: #000;
    text-decoration:none;
}

button:active,
button.active {
    background-image: none;
    background-color: #f2f2f2;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.1);
    text-shadow: none;
    text-decoration:none;
}
